<app-navbar></app-navbar>
<div class="container">
  <h1>Login</h1>

  <form (ngSubmit)="login()" #loginForm="ngForm" novalidate>
    <label for="username">Username:</label>
  <input type="text" id="username" [(ngModel)]="username" name="username" [ngModelOptions]="{standalone: true}" required
         #usernameNgModel="ngModel">
  <div *ngIf="usernameNgModel.invalid && (usernameNgModel.dirty || usernameNgModel.touched)"
       class="error-message">Username is required</div>

         <label for="password">Password:</label>
  <input type="password" id="password" [(ngModel)]="password" name="password" [ngModelOptions]="{standalone: true}" required
         #passwordNgModel="ngModel">
  <div *ngIf="passwordNgModel.invalid && (passwordNgModel.dirty || passwordNgModel.touched || loginForm.submitted)"
       class="error-message">Password is required</div>

       <label for="role">Role:</label>
  <select id="role" [(ngModel)]="role" name="role" required #roleNgModel="ngModel">
    <option value="" disabled>Select a role</option>
    <option value="ADMIN">ADMIN</option>
    <option value="ORGANIZER">ORGANIZER</option>
  </select>
  <div *ngIf="roleNgModel.invalid && (roleNgModel.dirty || roleNgModel.touched)"
       class="error-message">Role is required</div>
    <button type="submit"  [disabled]="loginForm.invalid"   >Login</button>
  </form>
</div>
